@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff71ae5;
  color: #fdfdfd;
}

::-webkit-scrollbar {
  width: 0;
}
